Repository Ismaestro/angular-example-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,json,html,css,scss,md,mdx}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat(e2e): add best practices with 'POM'
  README.md
  e2e/fixtures/base.fixture.ts
  e2e/home.spec.ts
  e2e/pages/header.ps.ts
  e2e/pages/home.po.ts
  e2e/tests/home.spec.ts
  e2e/utils/environment.ts
  package.json
  playwright.config.ts
  src/app/features/authentication/pages/log-in/log-in.component.html
  src/app/features/authentication/pages/register/register.component.html
Due: prettier --write

feat(app): add lighthouse check
  .husky/pre-push
  README.md
  lighthouse.config.json
  package-lock.json
  package.json
  scripts/lighthouse.mjs
Due: prettier --write

feat(tools): remove commit lint config
  .commitlintrc.json
  commitlint.config.js
Due: prettier --write

feat(tools): add lighthouse stable script
  angular.json
  lighthouse.config.json
  scripts/lighthouse.mjs
  scripts/nginx-lighthouse.conf
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/services/analytics.service.ts
  src/app/shared/components/header/header.component.html
  src/index.html
  src/locale/messages.es.xlf
  src/locale/messages.xlf
Due: prettier --write

feat(tools): add e2e stable script
  .husky/pre-push
  package-lock.json
  package.json
  scripts/e2e.mjs
Due: prettier --write

refactor(tools): move lighthouse config
  scripts/lighthouse.config.json
  scripts/lighthouse.mjs
Due: prettier --write

refactor(tools): update pre push hook
  .husky/pre-push
  package.json
  scripts/e2e.mjs
  scripts/lighthouse.mjs
Due: prettier --write

feat(tools): uninstall serve package
  package-lock.json
  package.json
Due: prettier --write

chore(app): remove useless standalone directive
  commitlint.config.js
  src/app/features/home/home.component.ts
Due: prettier --write

feat(home): extract my pokemon route to a feature
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/core/constants/paths.constants.ts
  src/app/core/constants/urls.constants.ts
  src/app/core/interceptors/authentication.interceptor.ts
  src/app/features/authentication/pages/log-in/log-in.component.ts
  src/app/features/authentication/pages/my-account/my-account.component.ts
  src/app/features/authentication/pages/register/register.component.ts
  src/app/features/pokemon/components/pokedex/pokedex.component.ts
  src/app/features/pokemon/pages/pokemon-detail/pokemon-detail.component.ts
  src/app/features/user/my-pokemon/components/pokemon-card/pokemon-card.component.html
  src/app/features/user/my-pokemon/components/pokemon-card/pokemon-card.component.scss
  src/app/features/user/my-pokemon/components/pokemon-card/pokemon-card.component.ts
  src/app/features/user/my-pokemon/pages/my-pokemon/my-pokemon.component.html
  src/app/features/user/my-pokemon/pages/my-pokemon/my-pokemon.component.scss
  src/app/features/user/my-pokemon/pages/my-pokemon/my-pokemon.component.ts
  src/app/features/user/user.routes.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/pokemon-search-input/pokemon-search-input.component.html
  src/app/shared/components/pokemon-search-input/pokemon-search-input.component.scss
  src/app/shared/components/pokemon-search-input/pokemon-search-input.component.ts
  tsconfig.json
Due: prettier --write, stylelint --fix

feat(app): extract error route to a feature
  src/app/app.routes.ts
  src/app/core/constants/paths.constants.ts
  src/app/core/constants/urls.constants.ts
  src/app/features/authentication/authentication.routes.ts
  src/app/features/error/error.routes.ts
  src/app/features/error/pages/error-404/error-404.component.html
  src/app/features/error/pages/error-404/error-404.component.scss
  src/app/features/error/pages/error-404/error-404.component.ts
Due: prettier --write, stylelint --fix

chore(tools): adjust lighthouse performance threshold to 94
  scripts/lighthouse.config.json
Due: prettier --write

chore(app): bump version to 20.0.0
  package-lock.json
  package.json
Due: prettier --write

feat(home): extract home route to a feature
  src/app/app.routes.ts
  src/app/features/home/home.routes.ts
Due: prettier --write

fix(tools): set 'BASE_URL' for playwright e2e tests
  scripts/e2e.mjs
Due: none

chore(app): update configurations and scripts for localization and environment settings
  angular.json
  package.json
Due: prettier --write

chore(app): update unit test build target to 'localhost-es'
  angular.json
Due: prettier --write

chore(app): update e2e script to use 'localhost-en' configuration
  scripts/e2e.mjs
Due: none

chore(app): update shoelace to 2.20.1 and adjust budgets and configurations
  .junie/guidelines.md
  angular.json
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write

feat(app): extract seo logic into dedicated 'SeoService' and defer cookie popup display
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/services/seo.service.ts
Due: prettier --write

chore(app): remove unused skip button and related logic
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
Due: prettier --write, stylelint --fix

refactor(app): use 'afterNextRender' for analytics script loading
  src/app/app.component.ts
Due: prettier --write

feat(repo): update typescript configs, scripts, and apply stricter type checks
  package.json
  src/app/features/authentication/services/authentication.service.ts
  src/app/shared/directives/sl-checkbox-control.directive.ts
  src/app/shared/directives/sl-select-control.directive.ts
  tsconfig.app.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

chore(e2e): update playwright config for ci compatibility and improve result organization
  .gitignore
  playwright.config.ts
Due: prettier --write

chore(repo): replace npx usage in husky hooks and npm scripts with direct commands
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --write

chore(repo): rename scripts and update references for consistency
  .junie/guidelines.md
  commitlint.config.cjs
  package.json
  scripts/e2e.js
  scripts/lighthouse.js
Due: prettier --write

chore(repo): rename eslint config file extension to .js
  eslint.config.js
Due: prettier --write

chore(repo): extend lint scope to include scripts/**/*.js
  angular.json
Due: prettier --write

chore(styles): restructure header styles and update lint rules
  .stylelintrc.json
  src/app/shared/components/header/header.component.scss
Due: prettier --write, stylelint --fix

chore(repo): remove lint-staged and update formatting approach across repo
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  package-lock.json
  package.json
  src/app/features/authentication/pages/log-in/log-in.component.html
  src/app/features/authentication/pages/register/register.component.html
  src/app/features/pokemon/components/catch-animation/catch-animation.component.html
  src/app/features/pokemon/components/pokedex/pokedex.component.html
  src/app/features/user/my-pokemon/components/pokemon-card/pokemon-card.component.html
  src/app/shared/components/language-selector/language-selector.component.html
  src/index.html
Due: prettier --write

chore(repo): simplify `package-lock.json` formatting by collapsing nested properties
  package-lock.json
Due: prettier --write

chore(tools): switch to `format:check` in pre-commit hook for consistency
  .husky/pre-commit
Due: none

chore(repo): define node and npm version requirements in package.json
  package.json
Due: prettier --write

chore(tools): update browserslist targets to improve coverage and support modern browsers
  .browserslistrc
Due: none

feat(repo): add build:serve script
  .prettierrc
  package-lock.json
  package.json
Due: prettier --write

chore(repo): remove unused angular localize reference in main.ts
  src/main.ts
Due: prettier --write

chore(app): update router preloading strategy and adjust 'HTTP' client configuration
  src/app/app.config.ts
Due: prettier --write

chore(app): reorder script tags in index.html
  src/index.html
Due: prettier --write

chore(tools): remove outdated browserslist market coverage comments
  .browserslistrc
Due: none

chore(app): add missing `i18n` attributes and clean up unused translation entries in locale files
  src/app/features/home/home.component.html
  src/app/features/pokemon/components/pokedex/pokedex.component.html
  src/app/features/user/my-pokemon/components/pokemon-card/pokemon-card.component.html
  src/app/features/user/my-pokemon/pages/my-pokemon/my-pokemon.component.html
  src/locale/messages.es.xlf
  src/locale/messages.xlf
Due: prettier --write
